<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h5>Total: <%= humanized_money_with_symbol @order.total_cents / 100.0 %> Ordered with Email: <%= @order.email %></h5>
    <ul>
      <% @line_items.each do |item| %>
        <li>Item Quantity: <%= item.quantity %> - Price: <%= humanized_money_with_symbol item.item_price_cents / 100.0 %></li>
        <% @products.each do |product| %>
        <% if product.id == item.product_id %>
          <li><%= product.name %></li>
          <li><img src="<%= product.image %>" width="300px"></li>
          <li><%= product.description %></li>
        <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
