<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h5>Total: <%= humanized_money_with_symbol @order.total_cents / 100.0 %> Ordered with Email: <%= @order.email %></h5>
    <ul>
       <% @order.line_items.each do |item| %>
        <li>Item Quantity: <%= item.quantity %> - Price: <%= (item.product.price_cents * item.quantity) / 100.0 %></li>
        <li><%= item.product.name %></li>
        <li><img src="<%= item.product.image %>" width="300px"></li>
        <li><%= item.product.description %></li>
        <% end %>
    </ul>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
